<div class="container mt-3">
  <div class="row">
    <div class="col view">
      <p class="h3 fw-bolder">View User</p>
      <a class="btn btn-primary" (click)="back()">Back</a>
    </div>
  </div>
</div>

<div class="container" *ngIf="isNotEmpty()">
  <div class="row detail">
    <!-- <div class="col-sm-04">
      <img src="" alt="User Image" />
    </div> -->
    <div class="col-sm-03">
      <ul class="list-group">
        <li class="list-group-item">
          Id: <span class="fw-bold">{{ detail.id }}</span>
        </li>
        <li class="list-group-item">
          Name: <span class="fw-bold">{{ detail.username }}</span>
        </li>
        <li class="list-group-item">
          Country: <span class="fw-bold">{{ detail.country }}</span>
        </li>
        <li class="list-group-item">
          Password: <span class="fw-bold">{{ detail.password }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
