<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bolder">{{ title }}</p>
    </div>
  </div>
</div>
<!-- create form -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="addForm" (submit)="createSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="username"
            name="username"
            placeholder="Username"
            formControlName="username"
          />
          <mat-error
            *ngIf="
              addForm.get('username')?.invalid &&
              (addForm.get('username')?.dirty ||
                addForm.get('username')?.touched)
            "
          >
            Username is <strong> required</strong> & min length is 4
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Exp</mat-label>
          <input
            matInput
            type="text"
            name="exp"
            formControlName="exp"
            placeholder="exp"
          />
          <mat-error
            *ngIf="
              addForm.get('exp')?.invalid &&
              (addForm.get('exp')?.dirty || addForm.get('exp')?.touched)
            "
          >
            Exp is <strong> required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input
            matInput
            name="country"
            type="text"
            formControlName="country"
            placeholder="country"
          />
          <mat-error
            *ngIf="
              addForm.get('country')?.invalid &&
              (addForm.get('country')?.dirty || addForm.get('country')?.touched)
            "
          >
            Country is <strong> required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            type="password"
            formControlName="password"
            placeholder="password"
          />
          <mat-error
            *ngIf="
              addForm.get('password')?.invalid &&
              (addForm.get('password')?.dirty ||
                addForm.get('password')?.touched)
            "
          >
            Password is <strong> required</strong> & min length is 4
          </mat-error>
        </mat-form-field>
        <div class="mb-4">
          <input type="submit" class="btn btn-outline-primary" value="submit" />
          <a class="btn btn-outline-danger ms-1" (click)="back()">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>
