<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/login_img.svg" height="100%" width="100%" />
    </div>
    <div class="col-md-4 mt-3 mb-2">
      <h3 class="text-success text-center">
        <b>Welcome To User Management</b>
      </h3>

      <form action="" class="mt-5 p-5" [formGroup]="loginForm">
        <h5 class="login mb-3">Login</h5>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="username"
            name="username"
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            class="btn btn-outline-success me-md-2"
            type="button"
            (click)="login()"
          >
            Login
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
