<div class="admin">
  <h1>Admin</h1>
  <a class="btn btn-primary" routerLink="add">Add User</a>
  <a class="btn btn-danger" (click)="logout()">LogOut</a>
</div>
<!-- <table mat-table *ngFor="let detail of details" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ detail.id }}</td>
  </ng-container>
</table> -->

<table class="table table-hover" *ngIf="!loading && details.length > 0">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">password</th>
      <th scope="col">exp</th>
      <th scope="col">country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of details$ | async">
      <td>{{ detail.id }}</td>
      <td>{{ detail.username }}</td>
      <td>{{ detail.password }}</td>
      <td>{{ detail.exp }}</td>
      <td>{{ detail.country }}</td>
      <td class="btne">
        <a class="btn btn-primary" routerLink="view/{{ detail.id }}">View</a>
      </td>
      <td class="btne">
        <a class="btn btn-success" routerLink="edit/{{ detail.id }}">Edit</a>
      </td>
      <td class="btnr">
        <button class="btn btn-danger" (click)="deleteuser(detail.id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
