<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bolder">Edit User</p>
    </div>
  </div>
</div>

<!-- create form -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="editForm" (submit)="updateSubmit()">
        <div class="mb-2">
          <input
            name="username"
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="username"
            required="true"
            readonly
          />
        </div>
        <div class="mb-2">
          <input
            name="exp"
            formControlName="exp"
            type="text"
            class="form-control"
            placeholder="exp"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            name="country"
            formControlName="country"
            type="text"
            class="form-control"
            placeholder="country"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            name="password"
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="password"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-danger" value="save" />
          <a class="btn btn-dark ms-1" (click)="back()">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>
