<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bolder">Edit User</p>
    </div>
  </div>
</div>

<!-- create form -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="editForm" (submit)="updateSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            formControlName="username"
            type="text"
            placeholder="username"
            readonly
          />
          <mat-error
            *ngIf="
              editForm.get('username')?.invalid &&
              (editForm.get('username')?.dirty ||
                editForm.get('username')?.touched)
            "
            >Username is <strong> required</strong> & min length is 4</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Exp</mat-label>
          <input
            matInput
            name="exp"
            formControlName="exp"
            type="text"
            placeholder="exp"
          />
          <mat-error
            *ngIf="
              editForm.get('exp')?.invalid &&
              (editForm.get('exp')?.dirty || editForm.get('exp')?.touched)
            "
            >Exp is <strong> required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input
            matInput
            name="country"
            formControlName="country"
            type="text"
            placeholder="country"
          />
          <mat-error
            *ngIf="
              editForm.get('country')?.invalid &&
              (editForm.get('country')?.dirty ||
                editForm.get('country')?.touched)
            "
            >Country is <strong> required</strong></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            type="password"
            formControlName="password"
            placeholder="password"
          />
          <mat-error
            *ngIf="
              editForm.get('password')?.invalid &&
              (editForm.get('password')?.dirty ||
                editForm.get('password')?.touched)
            "
            >Password is <strong> required</strong></mat-error
          >
        </mat-form-field>
        <div class="mb-4">
          <input type="submit" class="btn btn-outline-success" value="save" />
          <a class="btn btn-outline-danger ms-1" (click)="back()">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>
