<div class="container mt-3">
  <div class="row">
    <div class="col view">
      <p class="h3 fw-bolder">View User</p>
      <div>
        <a class="btn btn-primary" (click)="logout()">Logout</a>
        <a class="btn btn-success ms-2" (click)="editUserDialog(detail)"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row detail">
    <!-- <div class="col-sm-04">
      <img src="" alt="User Image" />
    </div> -->
    <div class="col-sm-03">
      <ul class="list-group">
        <li class="list-group-item">
          Name: <span class="fw-bold">{{ detail.username }}</span>
        </li>
        <li class="list-group-item">
          Exp: <span class="fw-bold">{{ detail.exp }}</span>
        </li>
        <li class="list-group-item">
          Country: <span class="fw-bold">{{ detail.country }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
