.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.view {
  display: flex;
  justify-content: space-between;
}

.detail {
  margin-left: 25%;
  margin-right: 25%;
}

.list-group-item {
  border: none;
  font-size: large;
}

.card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

img {
  margin: 0px !important;
  width: 150px;
  height: 120px;
}
